#download {
    .download {
        span {
            font-size: 18px;
            color: #888;
            font-weight: 300;
        }

        h2 {
            font-family: "Oswald",sans-serif;
            font-size: 25px;
            margin: 0;
        }

        h3 {
            font-size: 20px;
        }

        .divider {
            border-right: 1px solid #ddd;
        }
    }
}

#file {
    .card {
        max-width: 30rem;
        margin: 0 auto;
    }
}